/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

} */


section{
    padding: 10px 0px;
    border: 20px solid black;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

img{
    border:1px solid red ;
  

}

