h1{
    text-align: center;
    font: size 80px;;
    text-transform: capitalize;
}

main{
    background-color: darkkhaki;
    text-align: center;
}
#s1{
    text-align: left;
}

#s2{
    text-align: center;
}

#s3{
    text-align: right;
}


.title{
    color: blue;
}

.paragraph{
    color: green;
}

.amarillo{
    color: yellow;
}

.azul{
    color: blue;
}
.rojo{
    color:red;
}